body {
  background-image: url("assets/img/pexels-max-andrey-14270754.jpg");
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
